doctype html
html
    head
        meta(charset = 'utf-8')
        title Hotel Grand Budapest
        style
            include ../css/bootstrap.min.css
            include ../css/font-awesome.min.css
            include ../css/main.css
    body
        header
            div(class='img-head')
                img(class='img-head img-logo' src=require('../img/logo.png'))
                
            div(class='row-flex')
                div(class='icons')
                    span(class='fa fa-instagram icon')
                    span(class='fa fa-vk icon')
                    span(class='fa fa-facebook-square icon')
                div(class='img-head')
                    img(class='img-head' src=require('../img/tohead.png'))                    
        div(class='main_part')
            div(class='nav-here')
                nav-component
            div(class='router-part')
                torouter-component
                
                
        div(class='about-here')
        div(class='products-here')
        div(class='busket-here')
        div(class='order-here')

        footer