doctype html
html
    head
        meta(charset = 'utf-8')
        title Hotel Grand Budapest
        style
            include ../css/bootstrap.min.css
            include ../css/font-awesome.min.css
            include ../css/main.css
    body
        div(class='container')
            div(class='nav-here')
                nav-component
            div(class='router-part')
                torouter-component
                
                
        div(class='about-here')
        div(class='products-here')
        div(class='busket-here')
        div(class='order-here')