    button.bot9{
        display:block;
        width:59%;
        text-align: center;
        border:none;
        cursor: pointer;
        background-color:#c891b9;
        font-family: 'Open Sans', sans-serif;
        
        font-weight:bold;
        text-decoration:none;
        color:#1c0c21;
        text-shadow:rgba(255,255,255,0.6) 1px 1px 0;
        position:relative;
        padding:2px 5px;
        background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(200,145,185) 100%);
        background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(200,145,185) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(200,145,185) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(200,145,185) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(200,145,185) 100%);
        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,255,255)),
        color-stop(1, rgb(200,145,185))
        );
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #c891b9;
    }   

    button.bot9:active {
        top:3px;
        background-image: linear-gradient(bottom, rgb(200,145,185) 0%, rgb(255,255,255) 100%);
        background-image: -o-linear-gradient(bottom, rgb(200,145,185) 0%, rgb(255,255,255) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(200,145,185) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(200,145,185) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(200,145,185) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(200,145,185)),
        color-stop(1, rgb(255,255,255))
        );
        -webkit-box-shadow: inset 0px 1px 0px #c891b9, 0px 2px 0px 0px #4e295a, 0px 3px 3px #999;
        -moz-box-shadow: inset 0px 1px 0px #c891b9, 0px 2px 0px 0px #4e295a, 0px 3px 3px #999;
        -o-box-shadow: inset 0px 1px 0px #c891b9, 0px 2px 0px 0px #4e295a, 0px 3px 3px #999;
        box-shadow: inset 0px 1px 0px #c891b9, 0px 2px 0px 0px #4e295a, 0px 3px 3px #999;
    }

    button.bot9::before {
        background-color:#792963;
        background-repeat:no-repeat;
        background-position:center center;
        padding: 1px;
        content:"\2714";
        color:beige;
        text-shadow:none;
        font-weight:normal;
        vertical-align:middle;
        padding: 2px 0 0 4px;
        width:1.2em;
        height:1.2em;
        position:absolute;
        right:0.4em;
        top:50%;
        margin-top:-9px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 1px 0px #1c0c21, 0px 1px 0px #e1a6d1;
        -moz-box-shadow: inset 0px 1px 0px #1c0c21, 0px 1px 0px #e1a6d1;
        -o-box-shadow: inset 0px 1px 0px #1c0c21, 0px 1px 0px #e1a6d1;
        box-shadow: inset 0px 1px 0px #1c0c21, 0px 1px 0px #e1a6d1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    button.btn-del:before{
        padding: 1px;
        content:'\2718';
    }
    
    button.bot9:active::before {
        top:50%;
        margin-top:-12px;
        -webkit-box-shadow: inset 0px 1px 0px #e1a6d1, 0px 3px 0px #2d1335, 0px 6px 3px #792963;
        -moz-box-shadow: inset 0px 1px 0px #e1a6d1, 0px 3px 0px #2d1335, 0px 6px 3px #792963;
        -o-box-shadow: inset 0px 1px 0px #e1a6d1, 0px 3px 0px #2d1335, 0px 6px 3px #792963;
        box-shadow: inset 0px 1px 0px #e1a6d1, 0px 3px 0px #2d1335, 0px 6px 3px #792963;
    }

button.bot9, 
button.bot9:active, 
button.bot9:focus {
    outline: none;
}