@media screen and (max-width: 980px){
    button .product-button .bot9{
        font-size:0.5em !important;
        padding: 0 !important;
        text-align: left !important;
    }
    
    .product-name{
        display: flex;
        min-height: 3.1em;
        align-items: center;
        justify-content: center;
    }
    
    .product-count{
        font-size: 70%;
    }
}

@media screen and (max-width: 768px){
    html {
      -webkit-text-size-adjust: none;
   }
    
    header{
        height:15vh;
    }
    
    .mufjpg{
        display: none;
    }
    
    .icon{
        font-size: 3.5em;
        padding-left: 5%;
    }
    
    .icons{
        width: 50vw;
        margin-bottom: 3%;
    }
    
    .row-flex{
        align-items:center;
    }

    .main_part{
        justify-content:flex-start;
    }
    
    .menu-part{
        font-size: 1.8em;
        text-align: center;
    }
    
    .nav-here section{
        position:sticky;
        position: -webkit-sticky;
        top:2em;
    }
    
    .menu-route:after, .nav-active:after{
        display: none;
    }
    
    .products{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 1%;
    }
    
    .product-item{
        margin-right: 0;
        width: 80%;
    }
    
    .products-nav, .products-nav:hover, .products-nav-active{
        font-size: 1.8em;
        margin-right: 1px;
    }
    
    .about-here{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .about-img-d{
        display: none;
    }
    
    .about-text{
        width:97%;
        padding-right: 2px;
    }
    
    .products-menu{
        position:sticky;
        position: -webkit-sticky;
        text-align: center;
        top:50%;
        max-width: 35%;
        left:0;
        font-size:100%
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin-left: -50%;
    }
    
    .products-nav, .products-nav-active{
        margin-top: 2px;
        padding: 0px !important;
    }
    
    .products{
        margin-top: -20%;
    }
    
    .top-menu-hr{
        display: none;
    }
    
     .btn-del{
        margin-top: -1%;
        margin-bottom: 2%;
    }
    
    .grid{
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    
    .btn-busketpart{
        display:flex;
        flex-direction: column;
        width: 60%;
        justify-content: space-between;
        text-align: center;
    }
    
    .btn-orderthis{
        margin-top: 1%;
    }
    
    .checklist{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top: 10px;
        width:90%;
    }
    
    .checkTotal table{
        width:80%;
        font-size: 0.45em;
    }
    
    .anketa, .checkTotal{
        max-width: 70vw;
    }
    
    .checkTotal{
        font-size: 0.7em;
    }
    
    .btn-marg{
        margin-bottom: 10vh;
    }
    
     .basket{
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 600px){
     .products-menu{
        position:sticky;
        position: -webkit-sticky;
        text-align: left;
        top:50%;
        max-width: 40%;
        left:0;
        font-size:65%;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin-left: -50%;
    }
}
